section.ana{
    margin-left: 10em;
    
    display: inline-flex;
    //BU CSS KODU HAYATINIZDA GÖRÜP GÖREBİLECEĞİNİZ 
    //EN KARMAŞIK VE KOMPLİKE CSS KODUDUR ÖRNEK ALMAYIN
    .yazilar {
        .yazi{
        a.kaldir-btn{
            right: 3em;
            margin-top: -6.5em;
            position: absolute;
        }
    }
        .yazi-link {
            z-index: 5;
        }
        margin: 1em 0.5em 0 0.5em;
        width: 60em;
        //border: 1px solid black;
        span{
            font-weight: bold;
            margin-left: 1em;
            margin-top: -.5em;
            overflow: hidden;
            color: var(--vurgu);
        }
        a {
            text-decoration: none;
            color: whitesmoke;
        }
        a {
            text-decoration: none;
            color: var(--acik-gri);
        }
        p{
            overflow: hidden;
        }

        li:hover {
            //background-color: #a1a1a1;
            border: 2px solid var(--vurgu);
        }

        li{
            cursor: pointer;
            background-color: var(--koyu-gri);
            margin-top: 1em;
            margin-left: -1.5em;
            width: 57em;
            border: 1px dotted var(--vurgu);
            border-radius: 1em;
            height: 6.8em;
            overflow-y: hidden;
            .post-ici {
                display: inline-block;
                margin-left: 0.3em;
                margin-top: .5em;
                .yazi-icerik{
                    margin-top: -.8em;
                    word-break: break-all;
                }
                
            }
            .baslik-kismi {
                display: inline-flex;
                span.uzat{
                    right: 5em;
                }
                img{
                    position: absolute;
                    right: 3em;
                    margin-bottom: 0;
                }
            }
        }
    }
    .bulunamadi {
        h3{
            padding-left: 3em;
            padding-bottom: 0;
        }
        img {
            animation: donme 5s linear infinite;
          }
          
          @keyframes donme {
            0% {
              transform: matrix(1, 0, 0, 1, 0, 20);
            }
            50% {
              transform: matrix(
                calc(-1 + (random() * random())),
                calc(-1 + (random() * random())),
                calc(-1 + (random() * random())),
                calc(-1 + (random() * random())),
                calc(-1 + (random() * random())),
                calc(-1 + (random() * random()))
              );
            }
            100% {
              transform: matrix(1, 0, 0, 1, 0, 20);
            }
          }
          
          
          
        }
        color: white;
    }
    .aratma{
        width: 60em;
        
        hyphens: auto;
        
        height: 5em;
        border-radius: .5em;
        margin-left: -2em;
        margin: -2em ;
        word-break: break-all;
        span {
            color: white;
            padding-left: .2em;
        }
    }


    .filtre{
        
        .label-bas {
            a {
                color: red;
                text-decoration: none;
            }
            
            a:visited {
                color: red;
                text-decoration: none;
            }
            margin-left: -.5em;
        }
        
        position: fixed;
        background-color: var(--main);
        width: 8em;
        height: 20em;
        margin-left: 61em;
        border-left: 2px solid var(--vurgu);
        border-image: radial-gradient(var(--vurgu), black 75%) 30;
        border-width: 3px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        border-style: solid;
        
        
        

        ul{
            
            margin-top: 2em;
            text-transform: capitalize;
            span{
                paddings-bottom: 2em;
                padding-left: -.1em;
            }
            li{
                
                a {
                    text-decoration: none;
                }
                
                a {
                    color: var(--vurgu);
                }
                
                margin-top: 1em;
                margin-left: -.5em;
                color: var(--vurgu);
            }
            li:hover{
                scale: 1.2;
            }
            
        }
        
    }

    
@media screen and (max-width: 480px) {
section.ana{
    margin: 0;
    background-color: var(--koyu-gri);
    .filtre{
        display: none;
    }
    width: 100%;

    .yazilar{
        width: 100%;
        margin: 0em;
    
        ul{
            
            width: 100%;
            margin: 0;
            margin-bottom: 5em;
            margin-left: -1em
        }

        li{
            display: block;
            max-width: 100%;
            //margin-left: -2.2em;
            border-top: none;
            border-bottom: 1px solid var(--vurgu);
            border-right: none;
            border-left: none;
            border-radius: 0;
            width: 100%;
            margin-bottom: 0;
            margin-top: 0;
            .post-ici{
                margin: 0 1em;
            }
        }
        
        
    }
}
}
