@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --main: #000000;
  --vurgu:	#00FFFF;
  --koyu-gri: #333333;
  --acik-gri: #CCCCCC;
}

span {
  pointer-events: none;
  white-space: nowrap;
}

body {
  display: inline-block;
  background: var(--main);
  font-family: "Poppins";
  margin: 0;
  position: relative;
}

ul {
  list-style-type: none;
}

.navbar-top {
  align-items: center;
  text-align: center;
  position: fixed;
  display: inline-flex;
  z-index: 100;
  background-color: var(--main);
  border-bottom: 1px solid var(--vurgu);
  padding-left: 5em;
}
.navbar-top .logo {
  display: inline-flex;
  color: black;
  margin-left: -3em;
  width: 50px;
}
.navbar-top .logo img {
  border-radius: 5em;
  width: 50px;
  height: 50px;
}
.navbar-top .arama {
  margin-top: 1em;
  padding-bottom: 1em;
}
.navbar-top .arama input.ara-bar {
  color: white;
  border-radius: 0.5em;
  border-style: solid;
  border-color: var(--vurgu);
  background-color: var(--koyu-gri);
  margin-left: 10em;
  width: 60em;
  padding: 0.3em 0;
}
.navbar-top .hesabim {
  margin-left: 10em;
  padding-right: 2em;
}
.navbar-top .hesabim a {
  text-decoration: none;
  color: var(--vurgu);
  margin-left: -0.7em;
}

.navbar {
  position: fixed;
  background: var(--main);
  border-right: 1px solid var(--vurgu);
  padding: 0 2em 0 3.7em;
  width: 70px;
  height: 999em;
}
.navbar nav {
  display: none;
}
.navbar .container {
  display: flex;
  place-content: space-between;
}
.navbar ul {
  display: block;
  margin-top: 5em;
  margin-left: -5em;
}
.navbar ul li {
  margin: 4em 0 4em 0;
}
.navbar ul li a:link {
  color: var(--vurgu);
  text-decoration: none;
}
.navbar ul li a:visited {
  color: var(--vurgu);
  text-decoration: none;
}
.navbar .mobile-menu {
  color: white;
  cursor: pointer;
  margin-top: 3em;
  width: 50px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  left: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}
nav ul.primary-nav {
  margin-top: 5em;
}
nav li {
  list-style: none;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: left;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: left;
  margin: 0.5em;
  cursor: pointer;
}

.admin {
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  background: linear-gradient(90deg, rgb(186, 148, 62) 0%, rgb(236, 172, 32) 20%, rgb(186, 148, 62) 39%, rgb(249, 244, 180) 50%, rgb(186, 148, 62) 60%, rgb(236, 172, 32) 80%, rgb(186, 148, 62) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s infinite;
  background-size: 200%;
  background-position: left;
}

@keyframes shine {
  to {
    background-position: right;
  }
}
.admin {
  color: gold;
  font-family: "Merienda", cursive;
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 5px rgb(186, 148, 62), 0px 0px 5px rgb(186, 148, 62);
  }
  to {
    text-shadow: 0px 0px 20px rgb(236, 172, 32), 0px 0px 20px rgb(186, 148, 62);
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292929;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa31a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b8791b;
}

.popuplar .flashes {
  margin: 5em 0 0 5em;
  color: var(--vurgu);
}
.popuplar .flashes li {
  border: 3px solid var(--vurgu);
  border-radius: 2em;
  padding: 1em;
  margin-right: 2em;
  background-color: var(--main) !important;
}
.popuplar .flashes p {
  color: red;
}
.popuplar .bilgi {
  color: white;
}
.popuplar .bilgi li {
  border: 3px solid rgb(21, 0, 255);
  border-radius: 2em;
  padding: 1em;
  margin-right: 2em;
  background-color: rgb(97, 126, 255) !important;
}
.popuplar .bilgi p {
  color: rgb(0, 2, 141);
}/*# sourceMappingURL=main.css.map */