@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --main : #000000;
    --vurgu :  	#00FFFF;
    --koyu-gri : #333333;
    --acik-gri : #CCCCCC;
}

span {
    pointer-events: none;
    white-space:nowrap;
}


body {
    display: inline-block;
    background: var(--main);
    font-family: 'Poppins';
    margin: 0;
    //min-height: 100%;
    //height: 100%;
    position: relative;
    
}

ul {
    list-style-type: none; 
}

.navbar-top {
    align-items: center;
    text-align: center;
    position: fixed;
    display: inline-flex;
    //display: grid;
    z-index: 100;
    background-color: var(--main);
    border-bottom: 1px solid var(--vurgu);
    padding-left: 5em;
    //border-left: var(--main);
    //border-right: var(--main);
    .logo{
        display: inline-flex;
        color: black;
        margin-left: -3em;
        width: 50px;
        
        img{
            border-radius: 5em;
            width: 50px;
            height: 50px;
        }
        
    }
    .arama{
        margin-top: 1em;
        padding-bottom: 1em;
        input.ara-bar{
            color: white;
            border-radius: .5em;
            border-style: solid;
            border-color: var(--vurgu);
            background-color: var(--koyu-gri);
            margin-left: 10em;
            width: 60em;
            //margin-top: -3em;
            padding: .3em 0;
        }
    }
    .hesabim{
        margin-left: 10em;
        padding-right: 2em;
        a{
            text-decoration: none;
            color: var(--vurgu);
            margin-left: -.7em;
        }
    }
    
}

.navbar {
    position: fixed;
    background: var(--main);
    border-right: 1px solid var(--vurgu);
 
    padding: 0 2em 0 3.7em;
    width: 70px;
    height:999em;

    nav {
        display: none;
    }
    
    
    .container {
        display: flex;
        place-content: space-between;
    }

    ul{
        display: block;
        margin-top: 5em;
        margin-left: -5em;
        li {
            a:link{
                color: var(--vurgu);
                text-decoration: none;
            }
            a:visited{
                color: var(--vurgu);
                text-decoration: none;
            }
            margin: 4em 0 4em 0;
        }
    }
    .mobile-menu {
        color: white;
        cursor: pointer;
        margin-top: 3em;
        width: 50px;
    }
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    left: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        list-style: none;
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: left;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: left;
    margin: .5em;
    cursor: pointer;
}


.admin {

    text-transform: uppercase;
    line-height:1;
    text-align: center;
    background: linear-gradient(90deg, rgba(186,148,62,1) 0%, rgba(236,172,32,1) 20%, rgba(186,148,62,1) 39%, rgba(249,244,180,1) 50%, rgba(186,148,62,1) 60%, rgba(236,172,32,1) 80%, rgba(186,148,62,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;	
    animation: shine 1s infinite;
    background-size: 200%;
    background-position: left;
  
  }
  @keyframes shine {
    to{background-position: right}
   
  }

.admin{
color:gold;
font-family: 'Merienda', cursive;
animation-name:glow;
animation-duration:1s;
animation-iteration-count:infinite;
animation-direction:alternate;
}

@keyframes glow{
from{text-shadow:0px 0px 5px rgba(186,148,62,1),0px 0px 5px rgba(186,148,62,1);}
to{text-shadow:0px 0px 20px rgba(236,172,32,1),0px 0px 20px rgba(186,148,62,1);}
}
