<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Ek CSS dosyalarınızı ekleyebilirsiniz -->
</head>
<body>

<div class="container mt-5">
    <h2>Admin Panel</h2>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <table class="table mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>İtiraf</th>
                <th>Kullanıcı Adı</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            {% for yazi in yazilar %}
                <tr>
                    <td>{{ yazi.id }}</td>
                    <td>{{ yazi.message }}</td>
                    <td>{{ yazi.user }}</td>
                    <td>
                        <form method="post" action="/yazi/{{yazi.id}}/kaldir_id" onsubmit="return confirm('Bu yaziları silmek istediğinize emin misiniz?');">
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<!-- Ek JS dosyalarınızı ekleyebilirsiniz -->

</body>
</html>