<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%}{%endblock%}
    <link rel="stylesheet" href="../static/css/base/main.css">
    <script language="JavaScript" type="text/javascript" src="<?php echo get_option('siteurl') ?>/js/sprinkle.js"></script>
    <script language="JavaScript" type="text/javascript" src="<?php echo get_option('siteurl') ?>/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="<?php echo get_option('siteurl') ?>/js/jquery-ui-personalized-1.5.2.packed.js"></script>

</head>
{% block style %}
{% endblock %}




<body>


    <div class="navbar-top">
        <div class="logo">
                
            <a href="/"><img src="../static/images/ifl_net.jpg" alt="LOGO" width="50px"></a>
            
        </div>
        <div class="arama">
            <form action="/" method="POST" id="arat">
                <input type="text" class="ara-bar" name="arama" placeholder="Bir yazı aratın">
                <button class="ara-btn" type="submit" form="arat"><img src="../static/images/arama.svg" alt="Ara" width="20px"></button>
            </form>
            
        </div>
        <div class="hesabim">
            <a href="#" onclick="toggleBlurEffect()" >Hesabim</a>
        </div>
    </div>

    <div class="navbar">
        <div class="container">
            
            

            <ul>
                <li><a href="{{url_for('yazi_yaz')}}">Yazı Paylaş</a></li>
                <li><a href="#">Grafik Görünüm</a></li>
                <li><a href="{{url_for('kaydedilenler')}}">Kaydedilenler</a></li>
            </ul>


        </div>
    </div>

    


    <section class="popuplar">
        <div class="flashes">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>
                                <p>Uyarı !</p> {{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <div class="bilgi">

                {% if message %}
                    <ul class="bilgi">
                            <li>
                                <p>Bilgi </p> {{ message }}</li>
                    </ul>
                {% endif %}

        </div>

    </section>


        {% block content %} {% endblock %}


    

    {% block scripts %} {% endblock %}



    <div class="hesabim-ayarlar " id="ayarlar">
        <div class="secenekler">
            <ul>
                <li> <div class="aktif" id="bil"><a  onclick="hes_gecis_yap();">Hesap <br>Bilgileri</a></div> </li>
                <li> <div  id="deg"><a onclick="deg_gecis_yap();">Bilgileri <br>Değiştir</a></div></li>
                
            </ul>
        </div>
        <div class="hesabim-icerik" id="icerik1">
            <div class="hesap-pp">
                <span class="yazi" > {{c_user.username[0]}} </span>
            </div>
            <div class="hesap-bilgi">
                <span class="duz">Kullanıcı Adı : </span> <span class="degisken">{{c_user.username}} </span>
                <br>
                <span class="duz">Email Adresi : </span> <span class="degisken"> {% if c_user.email %}
                    {{c_user.email}} {% else %} Kayıtlı Mail Yok!
                {% endif %}  </span>
            </div>
            <div class="hesabim-icerik2" id="icerik2">
                <form action="#">
                    <!--Yarın buradan devam ediceksin şifre kullanıcı adı eposta değiştrime vb.-->
                </form>
            </div>
        </div>
        
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/js/base/scripts.js"></script>
</body>
</html>
