{% extends "base.html" %}
{%block title%} <title>IFLNET</title> 
<link rel="stylesheet" href="../static/css/home/main.css">
{%endblock%} 

{% block content %}
    
    <section class="ana">
        <div class="yazilar">
            <ul class="yazi">
                {% for yazi in yazilar|reverse %}
                    <a class="yazi-link" href="/yazi/{{yazi.baslik}}"> <li>
                         <div class="post-ici">
                            <div class="baslik-kismi">
                                <span class="baslik-class"> {{yazi.baslik}} </span><span class="uzat"></a></span>
                                <a href="/yazi/{{yazi.baslik}}/kaldir"><img src="../static/images/sil.svg" alt="Sil" width="20px"></a>
                                <a class="yazi-link" href="/yazi/{{yazi.baslik}}">
                            </div>
                            <br> <div class="yazi-icerik">
                                {{yazi.message|safe}}
                            </div> </div> </li></a>
                {% endfor %}
                
            </ul>
        </div>

        


        <div class="filtre">
            <ul>
                <span><b>Filtrele</b></span>
                
                <li>Teknoloji</li>
                <li>Kişisel <br> 
                    Gelişim</li>
                <li>Spor</li>
                <li>Gündem</li>
                <li>Siyaset</li>
            </ul>
        </div>
    </section>

{% endblock %}