{% extends "base.html" %}
{%block title%} <title>IFLNET</title> 
<link rel="stylesheet" href="../static/css/home/main.css">
{%endblock%} 

{% block content %}
    
    <section class="ana">
        <div class="yazilar">
            <ul class="yazi">
                {% for yazi in yazilar|reverse %}
                    <li><a href="#"> <div class="post-ici"><span> {{yazi.baslik}} </span><br> {{yazi.message|safe}} </div> </a></li>
                {% endfor %}
                
            </ul>
        </div>

        


        <div class="filtre">
            <ul>
                <span><b>Filtrele</b></span>
                
                <li>Teknoloji</li>
                <li>Kişisel <br> 
                    Gelişim</li>
                <li>Spor</li>
                <li>Gündem</li>
                <li>Siyaset</li>
            </ul>
        </div>
    </section>

{% endblock %}