{% extends "base.html" %}
{%block title%} <title>IFLNET</title> 
<link rel="stylesheet" href="../static/css/home/main.css">
{%endblock%} 

{% block content %}

    <section class="ana">
        <div class="kaydedilenler">
            <h2>Kaydedilenler</h2>
        </div>
        
        
        <div class="yazilar">
            <ul class="yazi">
                {% for yazi in yazilar|reverse %}
                <a href="/yazi/{{yazi.baslik}}"><li> <div class="post-ici"><span> {{yazi.baslik}} </span><br> {{yazi.message|safe}} </div> </li></a>
                {% endfor %}
                
            </ul>
        </div>

    
    </section>

{% endblock %}