<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap | IFLNET</title>
    <link rel="stylesheet" href="../static/css/login/main.css">
</head>
<body>




<div class="login-box">
    <h2>IFLNET <br> Giriş Yap</h2>

    <div class="flashes">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>
                            <p>Uyarı !</p> {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <form id="giris" method="POST">
      <div class="user-box">
        <input type="text" name="username" required>
        <label>Kullanıcı Adı</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required>
        <label>Şifre</label>
      </div>
      <div class="butonlar">
        <a class="giris-btn" href="#" onclick="myFunction()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Giriş Yap
          </a>
          
          <a href="/register" class="kayit-btn" >Kayıt ol</a>
      </div>
      
    </form>
  </div>
  
    <script> 
    function myFunction() { 
        document.getElementById("giris").submit(); 
    } 
    </script> 


</body>
</html>
    
