<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap | IFLNET</title>
    <link rel="stylesheet" href="../static/css/register/main.css">
</head>
<body>




<div class="login-box">
    <h2>IFLNET <br> Kayıt Ol</h2>

    <div class="flashes">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul class="flashes">
                  {% for message in messages %}
                      <li>
                          <p>Uyarı !</p> {{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      {% endwith %}
  </div>

    <form id="kayit" method="POST">
      
      <div class="user-box">
        <input type="text" name="username" required>
        <label>Kullanıcı Adı</label>
      </div>
      <div class="user-box">
        <input type="text" name="email" >
        <label>E-Posta Adresi (Opsiyonel)</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required>
        <label>Şifre</label>
      </div>
      <div class="butonlar">
        <a class="giris-btn" href="#" onclick="myFunction()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Kayıt Ol
          </a>
          
          <a href="/login" class="kayit-btn" >Giriş Yap</a>
      </div>
      
    </form>
  </div>
  
    <script> 
    function myFunction() { 
        document.getElementById("kayit").submit(); 
    } 
    </script> 


</body>
</html>
    
