section.ana {
    margin-left: 10em;
    margin-top: 5em;
    .bas{
        display: inline-flex;
        margin-left: 1.1em;
    }
    .yazi{
        color: white;
        
        h2{
            margin-left: 15em;
            margin-top: -.5mm;
        }
        .icerik{
            
            p {
                word-break: break-all;
            }
            img {
                max-width: 60em;
                
            }
            margin-left: 2em;
            width: 60em;
        }
    }
	.yazar{
		margin-left: 2em;
		color: var(--vurgu);
		text-transform: uppercase;
	}
}

.tag {
	display: inline-block;
  
    width: auto;
	height: 38px;
	
	background-color: black;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	
	border-left: 1px solid var(--vurgu);

	/* This makes room for the triangle */
	margin-left: 19px;
	
	position: relative;
	
    p{
        display: inline;
        
        font-family: "Georgia", serif;
        text-transform: uppercase;
    }
    
	color: var(--vurgu);
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	line-height: 38px;

	padding: 0 10px 0 10px;
    outline: 1px solid var(--vurgu);
}

/* Makes the triangle */
.tag-div{
    //padding-top: 1.3em;
    padding-left: 23em;
    transform: scale(0.7);
}
.tag:before {
    
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid var(--vurgu);
    
    
}

/* Makes the circle */
.tag:after {
	content: "";
	background-color: var(--main);
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
    
    
}